
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff2eb;
  color: #333333  
}


header {
  background: #f5721b;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header h1 span {
  font-weight: normal;
  font-size: 16px;
}

nav a {
color: rgb(255, 255, 255); 
margin-left: 50px; 
text-decoration: none;
font-weight: bold; 
}

nav a:hover {
text-decoration: underline;
}


main {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.product {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product h2 {
  margin: 10px 0 5px;
}

.product p {
  color: #666;
}


.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #203d8d;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #1a4d8c;
}


footer {
  background: #fc9154;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px;
  margin-top: 20px;
  font-size: 1.2rem
}

footer {
  word-spacing: 50px; 
}


.site-title {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin: 0;
  line-height: 1;
  display: inline-block;
}

.site-title .by-line {
  display: block;
  font-size: 0.6em;
  margin-top: 0.2rem;
  font-weight: 400;
  color: #f89494;
}

.site-title {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin: 0;
  line-height: 1;
  display: inline-block;
  padding-left: 100px; 
}

.site-title .by-line {
  display: block;
  font-size: 0.6em;
  margin-top: 0.2rem;
  font-weight: 400;
  color: #f1efef;
}



